.container-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    

    /*  Font  */
    /* font-family: 'Cormorant SC', serif;
    font-style: normal;
    */
    text-transform: uppercase;
    color: var(--verde);
}

.calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 5px; */
    /* width: 45%; */
    /* max-width: 35vh; */
    /* max-width: 57vh; */
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 50px 34%; */
    box-sizing: border-box;
}

.calendario-header {
    display: contents;
}

.calendario-dia-header,
.calendario-dia {
    text-align: center;
    padding: 10px;
    /* border-radius: 5px; */
    cursor: default;
    box-sizing: border-box;
    position: relative;
}

.calendario-dia-header, .calendario-dia > p {
    margin: 0;
    font-size: 4vh;
}

.selected {
    color: var(--blanco);
    position: relative;
    z-index: 5;
}

.corazon {
    font-size: 40px;
    position: absolute;
    /* top: -15%; */
    top: 4%;
    left: 0;
    right: 0;
    z-index: 4;
}

/* @media (max-width: 1024px) {
    /* .calendario-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
    } */

   /* .calendario-dia-header,
    .calendario-dia {
        font-size: 6vh;
        padding: 8px;
    }
}

@media (max-width: 960) {
    .calendario-dia-header,
    .calendario-dia {
        font-size: 2vh;
    }
} */

@media (max-width: 768px) {
    /* .container-calendar {
        padding: 50px 24%;
    } */

    /* .calendario-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 3px;
    } */

    .calendario-dia-header,
    .calendario-dia > p {
        font-size: 2vh;
        padding: 6px;
    }

    .corazon {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    /* .container-calendar {
        padding: 50px 17%;
    } */

    /* .calendario-grid {
        grid-template-columns: repeat(7, 1fr);
        gap: 2px;
    } */

    .calendario-dia-header,
    .calendario-dia {
        font-size: 2vh;
        padding: 4px;
    }

    .corazon {
        font-size: 25px;
        /* top: -3px; */
        left: 0;
        right: 0;
        bottom: 0;
    }
}