.container-frase {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    /* background-color: var(--background); */
}

.img-frase {
    position: absolute;
    top: 0;
    left: 0;
    height: 85vh;
}

.box-frase {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* .box-frase p {
    font-family: 'Cormorant SC', serif;
    font-weight: 200;
    font-size: 3vw;
    text-align: center;
    color: var(--texto);
    letter-spacing: 1px;
    padding: 0 10%;
} */

.container-personas-invitadas {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nombres-personas-invitadas {
    margin: 0px;
}

@media (max-width: 768px) {
    .container-frase {
        /* height: 35vh; */
    }

    /* .box-frase p {
        font-size: 5vw;
    } */

    .img-frase {
        height: 55vh;
    }
}