.container-portada {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  font-family: "Belleza", serif;
  font-style: normal;
  text-transform: uppercase;
}

.background-image-portada {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/foto1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.gradient-overlay-portada {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, var(--verde) 20%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.content-bottom-portada {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  flex-direction: column;
  /* margin-bottom: 10%; */
}

.texto-portada {
  font-size: 2.5vh;
  /* 24px; */
  color: var(--blanco);
  z-index: 4;
}

.letra-peq {
  font-size: 2vh;
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  z-index: 4;
}

.audio-controls button {
  padding: 12px;
  display: flex;
  color: var(--blanco);
  justify-content: center;
  align-items: center;
  background-color: var(--verde);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--blanco);
}

.progress-bar {
  width: 300px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  z-index: 4;
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: var(--verde);
  border-radius: 50%;
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: var(--verde);
  border-radius: 50%;
  cursor: pointer;
}


@media (max-width: 480px) {
  .gradient-overlay-portada {
    height: 45vh;
    background: linear-gradient(to bottom, var(--verde) 39%, rgba(0, 0, 0, 0) 100%);
    /* background: linear-gradient(to bottom, var(--verde) 15%, rgba(0, 0, 0, 0) 65%); */
  }
  
  .audio-controls {
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 0;
  }

  .audio-controls button {
    padding: 10px;
    font-size: 16px;
  }

  .progress-bar {
    width: 80%;
    background-color: #6765534a;
  }

  .background-image-portada {
    background-size: 155%;
    background-position: top center;
    margin-top: 17vh;
    /* margin-top: 165px; */
    height: 45vh;
    /* height: inherit; */
    }
    /* 
  
  .content-bottom-portada {
    top: 45%;
  }
  */

  .container-portada {
    height: 44vh;
  }
} 

@media (max-width: 400px) {
  .container-portada {
      height: vh;
  }
}

@media (max-width: 360px) {
  .container-portada {
      height: 48vh;
  }
}

@media (max-width: 345px) {
    .container-portada {
        height: 39vh;
    }
}