.container-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: var(--background) !important;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10vh;
}

.img {
    width: 38%;
}


@media (max-width: 1025px) {
    .img {
        width: 90%;
    }

    .links-info {
        gap: 5vh;
    }
}
