.content-regalos {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 8vh 0;
}

.content-regalos p {
    margin-top: 0;
}

.img-regalo {
    width: 15%;
}

.regalos-rec {
    border: none;
    color: white;
    padding: 13px 28px;
    border-radius: 5px;
    background-color: var(--verde);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 2%;
    font-family: 'Cormorant SC';
    text-transform: uppercase;
    font-size: 2vw;
}

@media (max-width: 768px) {
    .img-regalo {
        width: 32%;
    }
}

@media (max-width: 480px) {
    .content-regalo {
        padding-bottom: 0;
    }
}