html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fffdf9 !important;
  box-sizing: border-box;
  color-scheme: light;
}

:root {
  color-scheme: light;
}

body.dark-mode {
  background-color: #fffdf9 !important;
}

body.dark-mode .App {
  background-color: #fffdf9 !important;
}

.App {
  background-color: #fffdf9 !important;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #fffdf9 !important;
  }
}