html, body, body.dark-mode {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  box-sizing: border-box;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
  }
}